/* the styles for the elements */
body {background: #8F00FF;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header */
header img 
{
	font-style: italic
}


/* the styles for the main content */

 h1 
	{font-style: italic}

 h2 {
	color: #0000FF
}


/* the styles for the footer */
